<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Event Manager - For managing all events">
    <meta name="author" content="Taiwo Kolawole">
    <title>Event Man - Event Manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet">
    <link href="css/materialize.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrap">
        <header class="gradient-blue">
            <div class="top-head">
                <div class="container">
                    <div class="acc-wrap">
                        <div class="login-container">
                            <a href="login.htm">Login</a>
                        </div>
                        <div class="login-container">
                            <a href="register.htm">Register</a>
                        </div>
                        <div class="login-container">
                            <a href="admin/index.htm">Admin Dash Board</a>
                        </div>
                        <div class="login-container">
                            <a href="user/index.htm">User Dash Board</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-section">
                <div class="container">
                    <div class="row margin_0">
                        <div class="col s12 m4 l4"> 
                            <h3><a href="index.htm">
                                <img src="images/logo.png">
                            </a></h3> 
                        </div>
                        <div class="col s12 m8 l8">
                            <div class="main_menu_continer">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">About</a>
                                        </li>
                                        <li>
                                            <a href="#">How it Works</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>                                     
                            </div>                                 
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="search_slider_panel">
            <div class="carousel carousel-slider banner">
                <a class="carousel-item" href="#one!">
                    <img src="images/banner-center2.png">
                </a>
                <a class="carousel-item" href="#two!">
                    <img src="images/banner-center1.png">
                </a>
                <a class="carousel-item" href="#three!">
                    <img src="images/banner-center1.png">
                </a>
            </div>
            <!--
            <div class="searchEvent_panel">
                <h2 class="intro_title">FIND AND BOOK EVENT CENTERS IN NIGERIA</h2>
            </div>
            -->
        </div>
        <div class="container feature">
            <div class="row center" id="how_it_works">
                <div class="col s12 m12 l12"> 
                    <h3>HOW IT WORKS</h3>
                    <hr /> 
                </div>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <img src="images/icons/searching-for-a-house.png" /> 
                        <h5>SEARCH VENUE</h5> 
                        <p>Find your best suited Events Venues across Nigeria, including pricing, special offers, reviews.</p> 
                    </div>
                    <div class="col s12 m4 l4"> 
                        <img src="images/icons/calendar-check.png" />
                        <h5>CHECK AVAILABILITY</h5> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                    </div>
                    <div class="col s12 m4 l4"> 
                        <img src="images/icons/calendar-book1.png" />
                        <h5>BOOK VENUE</h5> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                    </div>
                </div>
            </div>
            <div class="row center event_center">
                <h5>FEATURED CENTERS</h5>
                <div class="col s12 m4 l4 card">
                    <div class="card-panel list-center no-padding relative">
                        <img src="images/party-room.jpg" />
                        <div class="over-img">
                            <h4 class="white-text">Royal Court</h4>
                            <p class="white-text">Lagos</p>
                            <p class="white-text">CCTV, Air Conditional, Projector</p>
                        </div>                             
                    </div>                         
                </div>
                <div class="col s12 m4 l4 card">
                    <div class="card-panel list-center no-padding relative">
                        <img src="images/banner-center2.png" />
                        <div class="over-img">
                            <h4 class="white-text">Royal Court</h4>
                            <p class="white-text">Lagos</p>
                            <p class="white-text">CCTV, Air Conditional, Projector</p>
                        </div>                             
                    </div>                         
                </div>
                <div class="col s12 m4 l4 card">
                    <div class="card-panel list-center no-padding relative">
                        <img src="images/Meridian-Room-1-and-2-classroom-setup-HD-Gallery.jpg" />
                        <div class="over-img">
                            <h4 class="white-text">Royal Court</h4>
                            <p class="white-text">Lagos</p>
                            <p class="white-text">CCTV, Air Conditional, Projector</p>
                        </div>                             
                    </div>                         
                </div>
            </div>
        </div>
        
        <footer class="page-footer blue"> 
            <div class="footer-copyright"> 
                <div class="container">© 2017 Copyright</div>                     
            </div>                 
        </footer>
    </div>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/materialize-binding.js"></script>
