body {
		margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #2f2f2f;
    background-color: #fff;
}

.page-wrap {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
}
