/* ****************************************************** */
/* Global */
/* ****************************************************** */
.gradient-blue {
  background: -moz-linear-gradient(right, #1f98da 0%, #987ad9 100%);
  background: -webkit-linear-gradient(right, #1f98da 0%, #987ad9 100%);
  background: linear-gradient(to right, #1f98da 0%, #987ad9 100%); }

h1, h2, h3, h4, h5 {
  margin: 0; }

.margin_0 {
  margin: 0 !important; }

html {
  font-size: 16px; }
  @media (max-width: 1000px) {
    html {
      font-size: calc(12px + 0.4vw); } }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: #2f2f2f;
  background-color: #FFF;
  height: 100%;
  min-height: 100%; }

header {
  float: left;
  width: 100%;
  position: relative;
  background: #208dbd;
  border-bottom: 1px solid rgba(62, 62, 62, 0.8);
  z-index: 800; }

.relative {
  position: relative; }

.row.card, .container.card {
  padding: 25px; }

div.container.user-container, div.container.admin-container {
  width: 75% !important; }

a.btn.btn-large.m12.l12 {
  width: 100%; }

ul.pagination {
  margin: 56px 0 0 0; }

.paging {
  border: 1px solid; }

.search.full {
  margin: 10px; }

.search.full a.btn {
  margin: 20px auto auto auto; }

.label {
  color: #b34a00;
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: 600;
  margin: 0; }

.row.card .row {
  margin: 30px 0 0 0; }

/* ****************************************************** */
/* _Page  */
/* ****************************************************** */
.container.feature {
  width: 90%; }

.row .list-item.card {
  width: 31%;
  margin: auto 1%; }

.feature .events {
  padding: 1% 4%;
  margin: 6% auto 4% auto; }

.list-center img, .list-event img {
  width: 100%;
  display: inline-block;
  margin: 0 0 20px 0;
  height: 340px; }

.contact-us {
  background: #000;
  padding: 5%; }

.contact-us h5 {
  margin-bottom: 6%; }

.searchEvent_panel {
  color: #fff;
  font-size: 34px;
  position: absolute;
  top: 10%; }

.banner {
  height: 340px;
  background: #9a4a11; }

.page-wrap {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden; }

.main-wrapper {
  margin-bottom: 50px;
  position: relative; }

.acc-wrap {
  float: right; }

.main_menu_continer {
  float: right; }

nav {
  background-color: transparent;
  box-shadow: none; }

.container {
  width: 85% !important; }

.menu-section {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 0 20px 0; }

.top-head {
  position: relative;
  float: left;
  width: 100%;
  padding: 5px 15px;
  color: #fff;
  background: #426898; }

.search_slider_panel {
  position: relative;
  float: left;
  width: 100%; }

.menu-section img {
  padding: 5px 0 0; }

#how_it_works h3 {
  color: #426898;
  font-size: 36px;
  letter-spacing: -5px;
  margin: 45px auto; }

#how_it_works .col {
  margin: 28px 0; }

#how_it_works img {
  display: inline-block;
  margin: auto  auto 35px auto; }

h2.intro_title {
  margin: auto 45px; }

.events h5, .event_center h5 {
  margin-bottom: 5px !important;
  font-size: 23px;
  padding: 7px;
  border-bottom: 3px solid;
  width: 100%;
  margin-left: 18%;
  margin-top: 35px;
  text-align: left; }

/* ****************************************************** */
/* _User */
/* ****************************************************** */
.user-container .row h4 {
  margin: 10px auto 34px auto;
  letter-spacing: -5px;
  font-size: 39px;
  font-weight: 600; }

.user-container .over-img {
  top: 62px;
  left: 9px;
  border: 2px solid white; }

.user-container h5.center {
  color: fff;
  background: #426898;
  padding: 20px; }

.booked-center {
  padding: 24px 115px !important; }

p.facilities span {
  display: inline-block;
  margin: 9px 0 0 4px;
  background: #2196f3;
  padding: 0 10px; }

.center-img img {
  width: 100%; }

.center-img {
  margin: 15px 0 0 0; }

/* ****************************************************** */
/* _Admin */
/* ****************************************************** */
.register h5 {
  color: #216eab; }

.events table thead {
  margin: 37px 0 0 0 !important; }

div.swipe {
  margin: 95px 80px 0 0; }

.events tab {
  text-align: left; }

.tabs .tab, ul.tabs {
  text-align: left !important; }

div.event-centers div.swipe {
  margin-top: 0 !important; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #2f2f2f;
  background-color: #fff; }

.page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.admin-container {
  border: 1px solid red;
  padding: 0; }
  .admin-container h5 {
    margin: 0.5em 0 1.3em 0;
    letter-spacing: -2px; }

.container-small {
  margin: 10% auto auto auto;
  padding: 0;
  width: 60vw !important; }
  @media screen and (max-width: 320px) {
    .container-small {
      width: 100% !important; } }
.container-medium {
  margin: 5% auto auto auto;
  padding: 0;
  width: 80vw !important; }
  @media screen and (max-width: 320px) {
    .container-medium {
      width: 100% !important; } }

.event-card {
  margin: 3em;
  padding-top: 2em !important; }
  .event-card h4 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-weight: 600;
    margin-top: 0; }
  .event-card .venue, .event-card .date {
    margin: 0; }
  .event-card h5 {
    color: red;
    font-size: 1.8em; }
  .event-card a {
    display: inline-block;
    margin: 0.3em; }
  .event-card-user {
    background: #50392b;
    padding: 25px; }
    .event-card-user h4 {
      text-transform: uppercase;
      color: #ffd27d !important; }

.featured-centers {
  margin: auto auto 4em auto; }
  .featured-centers h5 {
    font-weight: 400;
    padding: 1em;
    font-size: 2.5em;
    color: #426898;
    letter-spacing: -5px;
    word-spacing: 10px; }

.event-center {
  position: relative;
  padding: 0; }
  .event-center img {
    width: 100%;
    display: inline-block; }
  .event-center .over-img {
    background-color: rgba(0, 0, 0, 0.77);
    padding: 8px;
    width: 80%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%; }
  .event-center h4, .event-center p {
    color: #fff;
    margin: 0;
    padding: 0; }
  .event-center h4 {
    font-size: 1.5em; }
  .event-center p {
    font-size: 0.9em; }
  .event-center-detailed {
    font-size: 1.1em;
    margin: 0; }
    .event-center-detailed h5 {
      font-weight: 600;
      color: #222; }
    .event-center-detailed .amount {
      font-size: 2em;
      color: red;
      font-weight: 600;
      margin: 15px auto auto auto; }
    .event-center-detailed .highlight {
      font-weight: 500; }
    .event-center-detailed .chip {
      background-color: red;
      color: #fff; }
    .event-center-detailed .type {
      font-size: .8em; }

/*# sourceMappingURL=style.css.map */
