
/* ****************************************************** */
/* _Admin */
/* ****************************************************** */




.register h5 {
    color: #216eab;
}

.events table thead {
    margin: 37px 0 0 0 !important;
}

div.swipe {
    margin: 95px 80px 0 0;
}

.events tab {
    text-align: left;
}

.tabs .tab, ul.tabs {
    text-align: left !important;
}

div.event-centers div.swipe {
    margin-top: 0 !important;
}
