
/* ****************************************************** */
/* _User */
/* ****************************************************** */

.user-container .row h4 {
    margin: 10px auto 34px auto;
    letter-spacing: -5px;
    font-size: 39px;
    font-weight: 600;
}

.user-container .over-img {
    top: 62px;
    left: 9px;
    border: 2px solid white;
}

.user-container h5.center {
    color: fff;
    background: #426898;
    padding: 20px;
}


.booked-center {
    padding: 24px 115px !important;
}

p.facilities span {
    display: inline-block;
    margin: 9px 0 0 4px;
    background: #2196f3;
    padding: 0 10px;
}

.center-img img {
    width: 100%;
}

.center-img {
    margin: 15px 0 0 0;
}
