.event-center {
		position: relative;
		padding: 0;
		height: 300px;
		img {
				width: 100%;
				display: inline-block;
				height: 200px;
		}

		h4, p {
				color: #000;
				margin: 0;
				padding: 0;
		}
		h4 {
				font-size: 1.5em;
				margin: 10px 0 0 0;
		}
		p {
				font-size: 0.9em;
				font-weight: 600;
		}
		.material-icons {
			font-size: 13px;
		}
		
		&-detailed {
				font-size: 1.1em;
				margin: 0 0 50px 0;
				
				h5 {
						font-weight: 600;
						color: #222;
				}
				.amount {
						font-size: 2em;
						color: red;
						font-weight: 600;
						margin: 15px auto auto auto;;
				}
				.highlight {
						font-weight: 500;
				}
				.chip {
						background-color: #F6C042;
						color: #fff;
				}
				.type {
						font-size: .8em;
				}
				
				.card {
					padding: 0;
					img {
					width: 100%;
					height: 100%;
				}
				}
				.details {
					margin-top: 10px;
					padding-left: 30px;
					.btn {
						margin: 10px;
					}
					.approved-status {
						color: #f00;
						font-weight: 600;
					}
				}
		}
}
