.event-card {
		margin: 3em;
		padding-top: 2em !important;
		background: #fff
		
		h6 {
				font-family: 'Open Sans', arial;
				-webkit-font-smoothing: antialiased;
				color: #555;
				font-weight: 600;
				margin-top: 0;
		}

		.venue, .date {
    margin: 0;
		}

		h5 {
				color: red;
				font-size: 1.8em;				
		}

		a {
				display: inline-block;
				margin: 0.3em;
		}

		&-user, &-admin {
				background: #fff;
				padding: 20px;
				text-align: left;
				margin-top: 3em;
				h6 {
						text-transform: uppercase;
						font-weight: 600;
						margin-bottom: 15px;
				}
				h6 { 
					.delete, .edit {
						cursor: pointer;
					}
					.delete {
					color: #f00;
				}
				.edit {
					color: green;
				}
			}
				.venue, .timer {
					margin-top: 20px;

					p,h6 {
						margin: 0;
					}
					.material-icons {
						font-size: 3em;
					}
				}
				.timer {
					p {
						margin: 0 0 5px 0;
						text-align: center;
						font-size: 2em;
					
					}
					.remaining {
						font-size: 17px;
							color: #F6C042;
					}
				}
		}
		&-admin {
			background: #496894;
			color: #fff;
			font-weight: 600;
		}
}
