.pagination {
  text-align: center;
  li {
    margin: 5px;
    padding: 10px 15px 38px 15px;
    background: #496894 !important;
    color: #fff;
    font-size: 1.5em;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
  }
}